.item {
  padding: 0.1rem;

  margin-block: 0.6rem;

  background-color: white;
  min-height: 2rem;

  border-radius: 0.2rem;

  display: grid;
  grid-template-columns: auto 3rem;
  align-items: center;
}

.item__content {
  padding-inline: 0.2rem;
}

.item__action {
  padding: 0.3rem;
}

.item__action > * {
  cursor: pointer;
}

.item--unfinished {
  border-left: 4px solid var(--red1);
}

.item--done {
  border-left: 4px solid var(--green);
}
