@import url("assets/styles/base.css");
@import url("assets/styles/todo-manage.css");

:root {
  --dark1: #282d31;
  --grey1: #444d56;
  --grey2: #43434c;
  --green: #65e284;
  --red1: #d52b2a;

  --whitesmoke1: #a7a7a7;
}

*,
::after,
::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: var(--dark1);
  width: 0.28rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: 5rem;
}
